---
layout: default
---

<div class="home">


  {% for post in paginator.posts %}
     {% if post.categories contains "design" or post.categories contains "download" %}
  <div class="post postContent">
    <div class="postTag">
      {{post.tag}}
    </div>
    <div class="postTitle">
    <a class='postLink' href="http://website.com{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    <div class="postExt">
   {{ post.content | strip_html | truncate:275}}
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
  <a class="paginationLink" href="http://website.com{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
  <em class="paginationLink paginationLinkCurrent">{{ page }}</em>
      {% elsif page == 1 %}
  <a class="paginationLink" href="/">{{ page }}</a>
      {% else %}
  <a class="paginationLink" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}/">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}/">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}
</div>